@model ShowModels.UserModel

@{
    ViewBag.Title = "ProfilePage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="text-center"><span class="badge bg-primary text-center">Your Profile</span></h2>

<div class="table-responsive">
   
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr class="bg-dark text-light">
                <th>Property</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Id</td>
                <td>@Model.Id</td>
            </tr>
            <tr>
                <td>First Name</td>
                <td>@Model.First_Name</td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td>@Model.Last_Name</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>@Model.Email</td>
            </tr>
            <tr>
                <td>Password</td>
                <td>@Model.Password</td>
            </tr>
            <tr>
                <td>Role</td>
                <td>@Model.Role</td>
            </tr>
            <tr>
                <td>Registered Date</td>
                <td>@Model.Date</td>
            </tr>
        </tbody>
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "EditUser","Admin", new { id = Model.Id },new { @class = "btn rounded-0" , @style = "background-color:#ff6a00" }) |
    @Html.ActionLink("Back Dashborad", "Dashboard","Admin","",new { @class = "btn btn-success rounded-0" })
</p>
