@model ShowModels.TotalElection

@{
    ViewBag.Title = "ShowElection";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="text-center">ShowElection</h2>

<p>
    @Html.ActionLink("Add Election", "AddElection")
</p>

<div class="table-responsive">
    <table class="table table-striped table-hover table-bordered" id="myTable">
        <thead>
            <tr class="bg-dark text-light">
                <th>Election Id</th>
                <th>Election Title</th>
                <th>Start Date</th>
                <th>End Date</th>
                @*<th>Actions</th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Elec)
            {
                <tr>
                    <td class="text-center">@item.Id</td>
                    <td>@item.ElectionName</td>
                    <td>@item.startDate</td>
                    <td>@item.endDate</td>
                    @*<td>
                        @Html.ActionLink("Edit", "EditUser", new { id = item.Id }, new { @class = "btn btn-sm btn-warning" }) |
                        @Html.ActionLink("Details", "ShowUsersById", new { id = item.Id }, new { @class = "btn btn-sm btn-info" }) |
                        @Html.ActionLink("Delete", "DeleteUser", new { id = item.Id }, new { @class = "btn btn-sm btn-danger" })
                    </td>*@
                </tr>
            }
        </tbody>
    </table>
</div>
