
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_AdminLayout</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
          rel="stylesheet" />
    <link href="~/Content/datatables.min.css" rel="stylesheet" />
    <link href="~/Content/datatables.css" rel="stylesheet" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <link href="~/Content/LayOut.css" rel="stylesheet" />

    <script src="~/Scripts/datatables.min.js"></script>
    <script src="~/Scripts/datatables.js"></script>

</head>
<body>
    <div class="container-fluid" >
        <nav class="navbar navbar-expand-lg px-3">
            <div class="container-fluid">
                <a class="navbar-brand animate_animated animate__bounceOut" href="#">
                    <img src="~/Images/Logo.png" width="100" class="img-fluid" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar" style="background-color:#e3603a;">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse text-end" id="collapsibleNavbar">
                    <ul class="navbar-nav mx-auto" id="Navlinks">
                        <li class="nav-item fs-5 me-lg-5">
                            @Html.ActionLink("Dashboard", "Dashboard", "Admin", new { @class = "nav-link text-dark fw-semibold" })
                        </li>
                        <li class="nav-item fs-5 me-lg-5">
                            @Html.ActionLink("Users", "ShowUsers", "Admin", new { @class = "nav-link text-dark fw-semibold" })
                        </li>
                        <li class="nav-item fs-5 me-lg-5">
                            @Html.ActionLink("Candidates", "Candidates", "Admin", new { @class = "nav-link text-dark fw-semibold"})
                        </li>
                    </ul>
                    <div class="nav-item ms-auto fs-5" id="Navlinks">
                        <ul class="navbar-nav">
                            @if (Request.Cookies["UserId"] != null)
                            {
                                @Html.ActionLink("Profile", "ProfilePage", "Admin", new { @class = "nav-link text-dark fw-semibold" })
                                @Html.ActionLink("Log Out", "Logout", "Form","", new { @class = "nav-link text-dark fw-semibold" })
                            }
                        </ul>
                    </div>
                </div>

            </div>
        </nav>
    </div>
    <hr />
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
    </div>
    <div class="p-5 text-white bg-dark">
        <section>
            <div class="row px-3">
                <div class="col-lg-2">
                    <div class="row mb-3">
                        <div class="col-12">
                            <img src="~/Images/footer_logo.png" width="100" class="img-fluid" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-9">
                            <p>
                                Campus Vote Project is a project of Fair Elections Center.<a href="#" style="color: #e3603a;">Visit Site</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-10" id="footer">
                    <div class="row mb-4">
                        <div class="col-lg-4 px-lg-3">
                            <h4>Bussiness Communications:</h4><br />
                            <p class="px-lg-4">
                                Campus Vote Project | 1825 K St. NW  | Suite 701 | Washington, DC | 20006
                            </p>
                        </div>
                        <div class="col-lg-4 ps-lg-5">
                            <h4>Phone:</h4><br />
                            <p>(202) 331-0114</p>
                        </div>
                        <div class="col-lg-4">
                            <h4>Stayed Up to Date!</h4>
                            <p>
                                Sign up for our newsletter to
                                never miss an update.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <h5>Donations (checks made out to 'Fair Elections Center'):</h5><br />
                            <p>Fair Elections Center | PO Box 66 | Marietta, OH | 45750</p>
                        </div>
                        <div class="col-lg-4 ps-lg-5">
                            <h4>Email:</h4>
                            <p>info@fairelectionscenter.org</p>
                        </div>
                        <div class="col-lg-4">
                            <div class="btn rounded-pill px-5 py-2" id="button"><h5 class="text-white">Subscribe Now</h5></div>
                        </div>
                    </div>
                </div>
            </div>
            <hr style="color:#e3603a;" />
            <div class="row px-3" id="footer2">
                <div class="col-lg-6">
                    <p>All rights reserved © Copyright 2025 by Campus Vote Project | Fair Elections Center</p>
                </div>
                <div class="col-lg-6">
                    <div class="icons d-flex">
                        <div class="icon me-2"><i class="ri-facebook-line"></i></div>
                        <div class="icon me-2"> <i class="ri-instagram-line"></i></div>
                        <div class="icon me-2"> <i class="ri-twitter-x-line"></i></div>
                        <div class="icon me-2"><i class="ri-tiktok-fill"></i></div>
                    </div>
                </div>
            </div>
        </section>
    </div>

  

    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
</body>
</html>
